#div-stats{
    background-color: rgba(255,255,255,0.3);
}
.control-panel-title{
    padding: 1em 0;
}
.control-panel-title h1{
    font-size: 1.5em;
    color: #7a7a7a;
}
.control-panel-stats ul{
    list-style-type: none;
    display: block;
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 1em 0;
}
.control-panel-stats ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5em;
    border-left: solid 4px whitesmoke;
    padding-left: 0.5em;
}
#num-students{
    border-left-color: #ff1120;
}
#num-teachers{
    border-left-color: #1c906b;
}
#num-topics{
    border-left-color: #ff5722;
}
#num-questions{
    border-left-color: #4caf50;
}
#num-points{
    border-left-color: #03a9f4;
}
hr{
    border-top: 1px solid #555555;
}
.panel-white{
    background-color: #ffffff;
    padding: 1em 1em 1em 1em;
}