body {
	background: #212c33;
}

#wrap,
.unilearn-top {
	font-family: 'Open Sans', sans-serif;
}

#wrap {
	margin: 0 auto;
	padding-top: 6em;
	min-height: 650px;
}

#wrap a {
	color: #566473;
	text-decoration: none;
	outline: none;
}

#wrap a:hover {
	color: #4f7bab;
}

#wrap h1 {
	font-size: 3.2em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

#wrap span {
	display: block;
	color: #74818e;
}

.unilearn-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.unilearn-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.unilearn-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.unilearn-top span.right {
	float: right;
}

.unilearn-top span.right a {
	float: left;
	display: block;
}

.unilearn-icon:before {
	font-family: 'Material-Design-Icons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.unilearn-icon-drop:before {
	content: "\e001";
}

.unilearn-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.unilearn-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.unilearn-demos a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #b1aea6;
	color: #b1aea6;
	font-weight: 700;
}

.unilearn-demos a:hover,
.unilearn-demos a.current-demo,
.unilearn-demos a.current-demo:hover {
	border-color: #89867e;
	color: #89867e;
}

@media screen and (max-width: 1025px) {
	#wrap{
		margin: 0 auto;
		padding: 120px 0;
	}
}

@media screen and (max-width: 740px) {

	.unilearn-icon span {
		display: none;
	}

}