<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Unilearn{% endblock %}</title>
    <meta name="description" content="Unilearn, Plataforma (Aplicacion) de Aprendizaje de Matematicas en Linea" />
    <meta name="keywords" content="Unilearn, Juego, Matematicas, EAFIT" />
    <meta name="author" content="Juan Daniel Arboleda, Santiago Montoya, Santiago Su&acute;rez" />
    <link rel="shortcut icon" href="../favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% include "css.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/component.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    {% block css %}{% endblock %}
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
</head>
<body>
    <ul id="gn-menu" class="gn-menu-main" style="z-index: 1000;">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu">
                <span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li>
                            <input placeholder="Buscar..." type="search" class="gn-search">
                            <a class="gn-icon gn-icon-search"><span>Buscar</span></a>
                        </li>
                        <li><a class="gn-icon gn-icon-user" href="{{ url_for("courses") }}"
                                style="border-top: 1px solid rgba(255,255,255,0.3);">Cursos</a></li>
                        <li><a class="gn-icon gn-icon-user" href="{{ url_for("users") }}">Usuarios</a></li>
                        {% if current_user.is_authenticated() %}
                        <li><a class="gn-icon gn-icon-user" href="{{ url_for("profile") }}">Perfil</a></li>
                        <li><a class="gn-icon gn-icon-user" href="{{ url_for("edit_user") }}">Editar Perfil</a></li>
                        {% else %}
                        {%endif%}
                        {% if current_user.is_authenticated() and current_user.type == "admin" %}
                        <li>
                            <a class="gn-icon gn-icon-alter" href="{{ url_for("panel") }}">Panel</a>
                            <ul class="gn-submenu">
                                <li>
                                    <a class="gn-icon gn-icon-alter" href="{{ url_for("courses_panel") }}">
                                        Editar Cursos
                                    </a>
                                </li>
                                <li><a class="gn-icon gn-icon-alter">Images</a></li>
                                <li><a class="gn-icon gn-icon-alter">Videos</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated() %}
                        <li>
                            <a class="gn-icon gn-icon-user" href="{{ url_for("logout") }}" style="background-color: #ff1120">
                                Cerrar Sesion
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a class="gn-icon gn-icon-user" href="{{ url_for("register") }}">
                                Registrarse
                            </a>
                        </li>
                        <li>
                            <a class="gn-icon gn-icon-user" href="{{ url_for("login") }}">
                                Iniciar Sesion
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </li>
        <li><a href="{{ url_for("home") }}">Unilearn</a></li>
        <li><a href="{{ url_for("courses") }}">Cursos</a></li>
        {% if not current_user.is_authenticated() %}
            <li><a href="{{ url_for("login") }}"><span>Entrar</span></a></li>
        {% else %}
            <li><a href="{{ url_for("user",user=current_user.username) }}">
                <span>Perfil</span></a>
            </li>
        {% endif %}
    </ul>
    {% block pre_main %}{% endblock %}
    <div class="container">
    <div id="wrap">
            {% block main %}{% endblock %}
    </div>
    {% include "footer.html" %}
</div><!-- /container -->
        {% include "js.html" %}
		<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
		<script src="{{ url_for('static', filename='js/gnmenu.js') }}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
        {% block js %}{% endblock %}
</body>
</html>