{% extends "base.html" %}

{% block title %}
Unilearn | Cursos.
{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}
{% block main %}
<div class="jumbotron">
    <h1><img src="{{ course.icon }}" width="100px" height="100px"/>{{ course.name }}</h1>
    <p>{{ course.description }}</p>
</div>
<div class="list-group">
{% for question in course.questions %}
    <a href="{{ url_for("questions", course=course.name,num=question.id) }}">
    <div class="list-group-item">
        <div class="row-picture">
            {% if question.image %}
            <img class="circle" src="{{ question.image }}" alt="icon">
            {% else %}
            <img class="circle" src="http://i.imgur.com/klGXTYM.png" alt="question" />
            {% endif %}
        </div>
        <div class="row-content">
            <div class="least-content">{{ question.id }}</div>
            <h4 class="list-group-item-heading">Tile with a label</h4>
            {%if session["logged"]%}
            {%if question_made(session["user"],question)%}
                <img  width="50px" height = "50px" class="least-content" src="http://goo.gl/Gaa2Ob" alt="0" />
            {%endif%}
            {% endif %}
            <p class="list-group-item-text">{{ question.statement[:100]+"..." }}</p>
        </div>
    </div>
    <div class="list-group-separator">
    </div>
    </a>
{% endfor %}
</div>
{% endblock %}
