{% extends "base.html" %}
{% block title %}
Unilearn | Curso de {{course.name}}
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $("button[name=butregister]").click(
    function () {
        $.post("/api/register/", { user: "{{current_user.username}}", topic_id: {{ course.id }} }, function(data){}, "json");
        location.reload();
    });
    });
</script>
{% endblock %}
{% block css %}
<style>
    .list-group-item{
    }    
    .list-white{
        padding-top: 0.6em;
        padding-bottom: 0.6em;  
        border-bottom: 1px solid rgba(0,0,0,0.4);      
    }
    .list-white:hover{
        background-color: rgba(255,255,255,0.8);
    }
    .equa{
        width:100%;
        height:350px;
        overflow: scroll;

    }
</style>{% endblock %}
{% block main %}
<div class="text-center">
    <img src="{{ course.icon }}" width="100px" height="100px" alt="{{ course.id }}"/>
    <h1>{{ course.name }}</h1>
</div>
    <div class="text-center" id="join_course">
    {% if current_user.username %}
        {% if current_user.cur_topic_id %}
            {% if not current_user.cur_topic_id == course.id %}
                <button class="btn btn-danger" type="submit" id="butregister" name="butregister">Unirse a este curso</button>
            {% endif %}
        {% else %}
            <button class="btn btn-danger" type="submit" id="butregister" name="butregister">Unirse a este curso</button>
        {% endif %}
    {% endif %}
    {% if not current_user.username %}
        {%set free_use = true %}
    {% else %}
        {%set free_use = false %}
    {% endif %}
    </div>
{% if current_user.cur_topic_id == course.id or free_use%}
<ul class="nav nav-tabs" style="margin-bottom: 0px;">
    <li class="active"><a href="#problems" data-toggle="tab">Ejercicios</a></li>
    <li><a href="#users" data-toggle="tab">Usuarios</a></li>
    <li><a href="#theory" data-toggle="tab">Teoría</a></li>
    <li><a href="#equations" data-toggle="tab">Formulas</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
            Opciones <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#dropdown" data-toggle="tab">Action</a></li>
            <li class="divider"></li>
            <li><a href="#" data-toggle="tab">Another action</a></li>
        </ul>
    </li>
</ul>
<div class="row">
<div id="myTabContent" class="tab-content col-sm-8">
    <div class="tab-pane fade active in" id="problems">
        <div class="list-group">{{ sort_topic(course) }}
            {% for question in course.questions %}
            <a href="{{ url_for("questions", course=course.name,num=question.id) }}">
                <div class="list-white">
                <div class="list-group-item">
                    <div class="row-picture">
                        {% if question.image %}
                        <img class="circle" src="{{ question.image }}" alt="icon">
                        {% else %}
                        <img class="circle" src="http://i.imgur.com/klGXTYM.png" alt="question" />
                        {% endif %}
                    </div>
                    <div class="row-content">
                        <div class="least-content" style="color:rgba(0,0,0,0.35);margin-top:1em;">{{ question.id }}</div>
                        <h4 class="list-group-item-heading">{{ question.title}}</h4>
                        {%if current_user.is_authenticated()%}
                            {%if question_made(current_user.username,question) > 0%}
                                <img width="50px" height="50px" class="least-content" src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-21-128.png" alt="0" style="margin-right:1em;" />
                            {%endif%}
                            {%if question_made(current_user.username,question) == 0%}
                                <img width="50px" height="50px" class="least-content" src="https://cdn4.iconfinder.com/data/icons/sibcode-line-simple/512/cancel-128.png" alt="0" style="margin-right:1em;" />
                            {%endif%}
                        {%endif%}
                        <p class="list-group-item-text">{{ question.statement[35:]+"..." }}</p>
                    </div>
                </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="users">
        users
    </div>
    <div class="tab-pane fade" id="theory">
        <div class="jumbotron">
            <p>{{ course.description }}</p>
            {%set theory = help_theory(course)%}
            {%if theory != None%}
            <div class="equa">
                <hr size=1.5><br>
                {%for theory in theory%}
                {{theory.statement |safe}}
                <hr size=1.5><br>
                {%endfor%}
            </div>
            {%endif%}

        </div>
    </div>
    <div class="tab-pane fade" id="dropdown">
        Soon..
    </div>
    <div class="tab-pane fade" id="equations">
        <div class="jumbotron">
            <div class="equa">
                {%set equations = help_equation(course)%}
                {%for equation in equations%}
                {{equation.equation |safe}}
                <hr size=1.5><br>
                {%endfor%}
            </div>
        </div>
    </div>

</div>
<div class="col-sm-4">
    <div class="panel panel-default text-center">
    {%if current_user.is_authenticated() %}
        <div class="panel-heading text-center" style="background-color:rgba(0,0,0,0);">Progreso</div>
        <div class="panel-body text-center">
            <img src="{{current_user.photo}}" style="max-width:200px;max-height:200px;" class="img-reponsive img-rounded"><br><br>
            <span class="h1">45%</span><br>
            <span class="h2">Completado</span><br><br>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 45%"></div>
            </div>
        </div>
    {% else %}
        <br/><br/>
        <p>Si te Registras obtendras muchas ventajas como poder guardar tu proceso, acceder a preguntas, entras otras.</p>
        <p>Ademas <b>¡Es Totalmente Gratis!</b> registrate ahora y descubre todas las ventajas de hacer parte de Unilearn</p>
        <br/>
        <span class="h1">¿Registrarse?</span>
        <br/>
        <a href="{{ url_for("register") }}" class="btn btn-success">Registarse</a>
        <br/>
        <span class="h1">¿Entrar?</span>
        <br/>
        <a href="{{ url_for("login") }}" class="btn btn-success">Entrar</a>
        <br/>
        <br/>
    {% endif %}
    </div>
</div>
</div>
{% endif %}

{% endblock %}
