{% extends "base.html" %}

{% block title %}
Curso de {{course.name}}
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $("button[name=butregister]").click(
    function () {
        $.post("/api/register/", { user: "{{current_user.username}}", topic_id: {{ course.id }} }, function(data){alert(data.message)}, "json");
        location.reload();
    });
    });
</script>
{% endblock %}

{% block css %}
{% endblock %}
{% block main %}
<div class="jumbotron">
    <h1><img src="{{ course.icon }}" width="100px" height="100px"/>{{ course.name }}</h1>
    {% if current_user.username %}
        {% if current_user.cur_topic_id %}
            {% if not current_user.cur_topic_id == course.id %}
                <button class="btn btn-primary" type="submit" id="butregister" name="butregister">Unirse a este curso</button>
            {% endif %}
        {% else %}
            <button class="btn btn-primary" type="submit" id="butregister" name="butregister">Unirse a este curso</button>
        {% endif %}
    {% endif %}
    {% if not current_user.username %}
        {%set free_use = true %}
    {% else %}
        {%set free_use = false %}
    {% endif %}
    <p>{{ course.description }}</p>
</div>
{% if current_user.cur_topic_id == course.id or free_use%}
<div class="list-group">
{% for question in course.questions %}
    <a href="{{ url_for("questions", course=course.name,num=question.id) }}">
    <div class="list-group-item">
        <div class="row-picture">
            {% if question.image %}
            <img class="circle" src="{{ question.image }}" alt="icon">
            {% else %}
            <img class="circle" src="http://i.imgur.com/klGXTYM.png" alt="question" />
            {% endif %}
        </div>
        <div class="row-content">
            <div class="least-content">{{ question.id }}</div>
            <h4 class="list-group-item-heading">Tile with a label</h4>
            {%if current_user.is_authenticated()%}
            {%if question_made(current_user.username,question)%}
                <img  width="50px" height = "50px" class="least-content" src="http://goo.gl/Gaa2Ob" alt="0" />
            {%endif%}
            {% endif %}
            <p class="list-group-item-text">{{ question.statement[:100]+"..." }}</p>
        </div>
    </div>
    <div class="list-group-separator">
    </div>
    </a>
{% endfor %}
</div>
{% endif %}

{% endblock %}
