{% extends "panel_base.html" %}
{% block content %}
    <a href="javascript:showDeleteDialog()" class="btn btn-danger">Eliminar</a>
    <div class="modal deleteDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">¿Esta seguro que desea eliminar esta pregunta?</h4>
                </div>
                <div class="modal-body">
                    <p>Toda la información de esta pregunta sera eliminada.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger" id="delete"><b>Eliminar</b></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Editar Información</h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <legend>{{ question.title }}:{{ question.type }}</legend>
                        <div class="form-group">
                            <label for="inputTitle" class="col-lg-2 control-label">Titulo</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputTitle" value="{{ question.title }}" name="title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputImage" class="col-lg-2 control-label">Imagen</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputImage" value="{{ question.image }}" name="image">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="statement" class="col-lg-2 control-label">Enunciado</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="statement">{{ question.statement }}
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputScore" class="col-lg-2 control-label">Puntos</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="inputScore" value="{{ question.max_score }}" type="number" name="score">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <a class="btn btn-default" href="{{ url_for("view_question",course_id=question.topic_id,question_id=question.id) }}">Cancelar</a>
                                <button type="submit" class="btn btn-primary" id="saveChanges">Guardar Cambios</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script>
        function showDeleteDialog(){
            $(".deleteDialog").modal("show")
        }
    </script>
    <script>
        $(document).ready(function(){
                    $("button#delete").click(
                            function(){
                                $.post("/api/question/"+"{{ question.id }}",
                                        {"method":"delete"},
                                        function(data){
                                            alert(data.status);
                                            window.location.href = "{{ url_for("view_course",course_id=question.topic_id) }}";
                                        },
                                        "json");
                            }
                    );
                    $("button#saveChanges").click(
                            function(){
                                $.post("/api/question/"+"{{ question.id }}",
                                        {"method":"update",
                                            "title":$("input[name=title]").val(),
                                            "image":$("input[name=image]").val(),
                                            "score":$("input[name=score]").val(),
                                            "statement":$("textarea#statement").val()},
                                        function(data){
                                            alert(data.status);
                                            window.location.href = window.location.href;
                                        },
                                        "json");
                            }
                    );
                }
        );
    </script>
{% endblock %}