<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Unilearn{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    {% include "css.html" %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            b
        </div>
        <div class="col-sm-11">
            a
        </div>
    </div>
</div>
    {% include "js.html" %}
</body>
</html>