{% extends "base.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Informacion de Usuario</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <div class="aspect">
                        <div class="aspect-one-one bg-full" style="background-image:url('{{
                                set_default(user.photo, 'https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-256.png')
                                }}');border-radius: 50%"></div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <h1>{{ set_default(user.first_name,"Name")+" "+set_default(user.last_name,"Last Name") }}</h1>
                    <h2>@{{ user.username }}</h2>
                    <h3>{{ user.score() }}pts</h3>
                    <h3>{{ set_default(user.life,'0') }} vidas</h3>
                    <small>{{ user.type }}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% set size = max_scores|length %}
                {% for i in range(0,size) %}
                    <div class="course-list panel panel-primary col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ topics[i].name}}
                            </h3>
                        </div>
                    <div class="panel-body">
                        <p>Sacaste {{user_scores[i]}} de {{max_scores[i]}}</p>
                        <div id="canvas-holer">
                            <div class="text-center">
                                <canvas id="chart-area{{i}}" width="100" height="100"/>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="../static/js/Chart.js"></script>
<script>
{% set size = max_scores|length %}
    {%for i in range(0,size) %}
        var ctx = document.getElementById("chart-area{{i}}").getContext("2d");
        var data = [
            {
            value: {{user_scores[i]}},
            color: "#46BFBD",
            highlight: "#FF5A5E",
            label: "Co"
            },
            {
            value: {{max_scores[i] - user_scores[i]}},
            color: "#F7464A",
            highlight: "#5AD3D1",
            label: "In"
            }
        ]
        var chart = new Chart(ctx).Pie(data, {
            animateScale: true
        });
    {% endfor %}
</script>
{% endblock %}
